@{
    ViewBag.Title = "Home Page";
}

<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide" id="theCarousel" data-interval="2000">

                <ol class="carousel-indicators">
                    <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#theCarousel" data-slide-to="1"></li>
                    <li data-target="#theCarousel" data-slide-to="2"></li>
                    <li data-target="#theCarousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/Images/hello-world.png" alt="1" class="img-responsive" width="100%" />
                        <div class="carousel-caption">
                            <h4>Hello</h4>
                            <p>World</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/Images/hello-world.png" alt="2" class="img-responsive" width="100%" />
                        <div class="carousel-caption">
                            <h4>Hello</h4>
                            <p>World</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/Images/hello-world.png" alt="3" class="img-responsive" width="100%" />
                        <div class="carousel-caption">
                            <h4>Hello</h4>
                            <p>World</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/Images/hello-world.png" alt="4" class="img-responsive" width="100%" />
                        <div class="carousel-caption">
                            <h4>Hello</h4>
                            <p>World</p>
                        </div>
                    </div>
                </div>

                <a href="#theCarousel" class="carousel-control left" data-slide="prev"><span class="icon-prev"></span></a>
                <a href="#theCarousel" class="carousel-control right" data-slide="next"><span class="icon-next"></span></a>

            </div>
        </div>
    </div>
</section>